.products-list ul {
    display: flex;
}

.products-list ul li {
    flex: 1;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.products-list img {
    max-width: 300px;
}